
*.ps3
*.vs3
*.user
*.log
Bin/*.d.ts
Bin/*.js
Bin/*.pak
Bin/NativePluginSDK/*
Source/Atomic/Javascript/Modules/*
Data/AtomicPlayer/Resources/CoreData/Shaders/HLSL/Cache
Resources/CoreData/Shaders/HLSL/Cache
Artifacts/*
Docs/out/*
Docs/node_modules/*
Data/AtomicEditor/Deployment/Web/AtomicPlayer.js
Data/AtomicEditor/Deployment/Web/AtomicPlayer.html.mem
Data/AtomicEditor/Deployment/IOS/AtomicPlayer.app/AtomicPlayer
node_modules/*
/.project
Script/TypeScript/**/*.d.ts
!Script/TypeScript/**/*Work.d.ts
Script/Haxe/*
**/.vscode
.idea

###
### C++
###

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app